# Ignore local environment overrides, but keep templates
*.env
!*.env.template

# Ignore service-specific .env files
services/*/.env

# Ignore Docker volumes directories created by compose for each service
services/nextcloud/db/
services/nextcloud/nextcloud/
services/vaultwarden/vw-data/
services/zoraxy/config/
services/zoraxy/plugin/

# Ignore OS and editor clutter
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*~
*.log
